<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">

    <target xsi:type="File"
            name="mainLog"
            fileName="Q:/IT_Dept/logs/PlsPostProcessor/${machinename}_${windows-identity:domain=false}_plsPostProcessor.log"
            layout="${longdate} ${uppercase:${level}} [${callsite:fileName=true}] ${message} "
            archiveFileName="Q:/IT_Dept/logs/PlsPostProcessor/${machinename}_${windows-identity:domain=false}_plsPostProcessor.{#}.log"
            archiveNumbering="DateAndSequence"
            maxArchiveFiles="500"
            archiveDateFormat="yyyyMMdd"
            bufferSize="32768"
            createDirs="true"
            keepFileOpen ="True"
            maxLogFilenames="99999"
            archiveAboveSize="5000000"
            replaceFileContentsOnEachWrite="false"
            />

    <target xsi:type="File"
        name="errorLog"
        fileName="Q:/IT_Dept/logs/PlsPostProcessor/${machinename}_${windows-identity:domain=false}_plsPostProcessorErrors.log"
        layout="${longdate} ${uppercase:${level}} [${callsite:fileName=true}] ${message} "
        archiveFileName="Q:/IT_Dept/logs/PlsPostProcessor/${machinename}_${windows-identity:domain=false}_plsPostProcessorErrors.{#}.log"
        archiveNumbering="DateAndSequence"
        maxArchiveFiles="500"
        archiveDateFormat="yyyyMMdd"
        bufferSize="32768"
        createDirs="true"
        keepFileOpen ="True"
        maxLogFilenames="99999"
        archiveAboveSize="5000000"
        replaceFileContentsOnEachWrite="false"
            />

    <!--layout="${longdate} ${uppercase:${level}} ${message} [${callsite:className=true:fileName=true:includeSourcePath=false:methodName=true}]"-->
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <logger name="*" minlevel="Debug" writeTo="mainLog"/>

    <logger name="*" minlevel="Error" writeTo="errorLog"/>

    <!--logger name="PlateFactoryDiagLogger" minlevel="Debug" writeTo="plateFactoryDiagLog" /-->

  </rules>
</nlog>
